config.py
"C:\Users\batur\Desktop\Class Work\Module 8\Movies-ETL\__pycache__\config.cpython-37.pyc"
"C:\Users\batur\Desktop\Class Work\Module 8\Movies-ETL\Resources\ratings.csv"
"C:\Users\batur\Desktop\Class Work\Module 8\Movies-ETL\__pycache__"
\.ipynb_checkpoints
\__pycache__